# Игнорировать файлы .DS_Store
.DS_Store

# Игнорировать директорию .idea (используется в IntelliJ IDEA)
.idea/

# Игнорировать директорию .mvn (используется в Maven)
.mvn/

# Игнорировать все файлы логов
*.log

# Игнорировать временные файлы
*.tmp